body{
    margin: 0;
    background-image: url(./backgroundimg.gif)
}
header{
    display: flex;
    justify-content: center;
}

.headline{
    font-size: 50px;
    margin-top: 150px;
    color: whitesmoke;
}

.tic{
    color: red;
}

.toe{
    color: blue;
}

main{
    display: flex;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    min-height: fit-content;
}


.kotakborder{
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.kotak{
    width: 100%;
    
    
}
.kotakatas, .kotaktengah, .kotakbawah{
    display: flex;
    justify-content: center;
    height: fit-content;
    min-width: 100%;
    
    
    
}

.kotak1, .kotak2, .kotak3, .kotak4, .kotak5, .kotak6, .kotak7, .kotak8, .kotak9{
    border: 1px solid white;
    font-size: 70px;  
    display: inline-block;
    width: 70px;
    height: 85px;
    color:black;
    background-color: black
    
}

.playerOne{
    background-image: url(./playeronebcgrnd.png);
    background-size: cover;
}

.player1Name{
    background-color: rgba(191, 53, 53, 0.598);
    border: 1px double black;

    
}

.playerTwo{
    background-image: url(./player2bckground.png);
    background-size: cover;

}

.player2Name{
    background-color: hsla(180, 100%, 50%, 0.598);
    border: 1px double black;
}


.playerOne, .playerTwo{
    border: 2px double black;
    margin: 10px;
    padding: 20px;
    width: 30%;
}

.deco1, .deco2, .player1Name, .player2Name{
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.deco1, .deco2{
    font-size: 1.5rem;
}


.kotakScore1, .kotakScore2{
    display: flex;
    justify-content: center;
}

footer{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.restart, .refresh, .turnplayer{
    font-size: 2rem;
}

.turnplayer{
    display: flex;
    justify-content: center;
    color: snow;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.refresh, .restart{
    background-color: skyblue;
}


a{
    text-decoration: none;
    color: black;
    
}